
{% extends "layout.html.twig" %}

{% set pageTitle = 'post du blog' %}

{% block body %}
<div class="news">
    <div class="row">
        <h1>{{ post.title }}</h1>
        <p class="ms-auto"><a href="/blog/tous-les-articles">Retour à la liste des articles</a></p>
    </div>
    <p><strong>{{ post.introduction }}</strong></p>
    <small class="text-body-secondary">Un article de {{ post.author }} écrit le {{ post.createdAt|date("d/m/Y") }} {% if post.updatedAt|date("d/m/Y") is not null %} mis à jour le {{ post.updatedAt|date("d/m/Y") }}{% endif %}</small>
    <p>{{ post.content }}</p>
</div>

{% if isAdmin %}
    <a href="/blog/article/modifier?id={{ post.id }}">Modifier l'article</a>
{% endif %}

<div class="w-50 mx-auto my-3 p-4">
    <h2 class="h5">Commentaires</h2>

    {% if app.user %}
        {% include "component/commentForm.html.twig" with { action: '/blog/commentaire/ajouter?id=' ~ post.id } %}
    {% else %}
        <p>Pour commenter, veuillez vous connecter.</p>
    {% endif %}

    {% if comments|filter(c => c.checkIfIsEnabled == true)|length == 0 %}
        <p>Il n'y a pas de commentaire.</p>
    {% endif %}
    

    {% for comment in comments %}
        {% if comment.checkIfIsEnabled == true %}
            <div class="card border-warning mt-3 shadow">
                <div class="card-header">
                    {{ comment.title }}
                </div>
                <div class="card-body">
                    <p>{{ comment.content }}</p>
                    <p><small><i>Ecrit par {{ comment.author }} le {{ comment.createdAt|date("d/m/Y") }}</i></small></p>
                </div>
                {% if app.user.id == comment.author.id %}
                    <div class="card-footer">
                        <a href="/blog/commentaire/modifier?id={{ comment.id }}">Modifier</a>
                    </div>
                {% endif %}
            </div>
        {% elseif comment.checkIfIsEnabled == false  and app.user.id == comment.author.id %}
            <div class="card border-{{ comment.moderatedAt is null ? 'info' : 'danger' }} bg-grey mt-3 shadow">
                <div class="card-header">
                    {{ comment.title }}
                </div>
                <div class="card-body">
                    <p>{{ comment.content }}</p>
                    <p><small><i>Ecrit par vous le {{ comment.createdAt|date("d/m/Y") }}, {{ comment.moderatedAt is null ? 'en attente de modération.' : 'mais non publié car le contenu n\'a pas été validé. Vous pouvez le modifier si vous le souhaitez.' }}</i></small></p>
                </div>
                {% if app.user.id == comment.author.id %}
                    <div class="card-footer">
                        <a href="/blog/commentaire/modifier?id={{ comment.id }}">Modifier</a>
                    </div>
                {% endif %}
            </div>
        {% endif %}
    {% endfor %}
</div>
{% endblock %}
