{% extends "layout.html.twig" %}

{% set pageTitle = "Sommaire du blog" %}

{% block body %}
<h1>Le super blog de Coralie</h1>

{% if isAdmin %}
	<a href="/blog/admin/ajouter-un-article" class="btn btn-warning">Ajouter un nouvel article</a>
{% endif %}

<p>Derniers billets du blog :</p>
	<div class="row align-items-stretch">
		{% for post in posts %}
		<div class="col-12 col-md-6 col-lg-4 col-xl-3 p-3">
			<div class="card m-1 h-100 border-warning shadow">
				<div class="card-body">
					<h5 class="card-title">{{ post.title }}</h5>
					<div class="text-end mb-2">
						<small><i>Par {{ post.author }} le {{ post.createdAt|date("d/m/Y") }}</i></small>
					</div>
					<p class="card-text">{{ post.introduction|default('...') }}</p>
				</div>
				<div class="card-footer text-center">
					<a href="/blog/article?id={{ post.id }}" class="btn btn-warning">Lire plus</a>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
{% endblock %}